@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  color: #000;
}

h1 {
  font-size: 75px;
  line-height: 80px;
  color: #222;
}

h2 {
  font-size: 56px;
  line-height: 80px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  color: white;
  width: 100%;
}

/* !HEADER CONTENT */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 80px;
  background-color: rgb(220, 20, 60);
  z-index: 99;
  position: sticky;
  top: 0;
  left: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

.navbar li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  transition: 0.3s ease;
}

/* .navbar li a:hover,
.navbar li a.active {
  font-weight: bold;
} */

/* .navbar li a:hover {
  font-weight: bold;
} */

/* .navbar li a.active::after,
.navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #ffffff;
  position: absolute;
  bottom: -4px;
  left: 20px;
} */

.navbar li a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #ffffff; /* Change this to your desired color */
  transition: width 0.3s ease;
}

.navbar li a:hover::after {
  width: 100%;
}

/* !CART SECTION */
#cart table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}

#cart table img {
  width: 70px;
}

#cart table td:nth-child(1) {
  width: 100px;
  text-align: center;
}

#cart table td:nth-child(2) {
  width: 150px;
  text-align: center;
}

#cart table td:nth-child(3) {
  width: 250px;
  text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
  width: 150px;
  text-align: center;
}

#cart table td:nth-child(5) input {
  width: 70px;
  padding: 10px 5px 10px 15px;
}

#cart table thead {
  border: 1px solid #dc143c;
  background-color: #dc143c;
}

#cart table thead td {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  padding: 18px 0;
  color: #fff;
}

#cart table tbody tr {
  border-bottom: 1px solid #dc143c;
}

#cart table tbody tr td {
  padding-top: 15px;
}

#cart table tbody td {
  font-size: 16px;
}

#cart table tbody td i {
  font-size: 18px;
  /* color: #dc143c; */
}

/* *CART ADDITIONAL */
#cart-add {
  display: flex;
  justify-content: center;
}

#subtotal {
  width: 50%;
  margin-bottom: 30px;
  border: 3px solid #dc143c;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-image: url("https://static.vecteezy.com/system/resources/previews/008/822/084/non_2x/3d-shopping-cart-illustration-icon-with-summer-theme-free-png.png");
  background-size: 35%;
  background-position: right;
  background-repeat: no-repeat; */
}

#subtotal table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

#subtotal table td {
  width: 50%;
  border: 1px solid #dc143c;
  padding: 10px;
  font-size: 16px;
}

#subtotal h3 {
  padding-bottom: 15px;
}

.order {
  width: 30%;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
  background-color: #dc143c;
  border: 1px solid #dc143c;
  border-radius: 4px;
  transition: ease 0.2s;
  cursor: pointer;
}

.order:hover {
  color: #dc143c;
  background-color: #fff;
  border-radius: 4px;
}

#payment-method {
  width: 100%;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: #000;
  background-color: #fff;
  border: 1px solid #dc143c;
  border-radius: 4px;
  cursor: pointer;
}

/* #payment-method:hover {
  color: #dc143c;
  background-color: #fff;
  border-radius: 4px;
} */

#payment-method .address {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cart-add h3 {
  font-size: 18px;
  text-transform: uppercase;
}

/* !FOOTER ELEMENT */
footer {
  background-color: #ececee;
  padding: 40px 80px 10px 80px;
}

footer .section-p1 {
  padding-bottom: 0;
}

footer .info {
  display: flex;
  flex: wrap;
  justify-content: space-between;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 2px;
}

footer .logo {
  margin-bottom: 30px;
}

footer h4 {
  font-size: 18px;
  padding-bottom: 20px;
  color: #222;
}

footer p {
  font-size: 16px;
  margin: 0 0 8px 0;
  color: #222;
}

footer a {
  font-size: 16px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer .copyright {
  width: 100%;
  text-align: center;
  margin-top: 0;
}

footer i {
  color: #222;
  font-size: 20px;
  padding-right: 4px;
  cursor: pointer;
  margin-right: 6px;
}

footer .follow {
  margin-top: 20px;
}

footer .install .row img {
  border: 1px solid #222;
  border-radius: 6px;
}

footer.install img {
  margin: 15px 0 20px 0;
}

footer .follow i:hover {
  font-weight: bold;
  color: black;
}

footer a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #222; /* Change this to your desired color */
  transition: width 0.3s ease;
}

footer a:hover {
  color: black;
  font-weight: bolder;
}
