#hero {
  background-image: url("../../../../../assets/images/model-main.png");
  background-color: #ececee;
  background-repeat: no-repeat;
  height: 90vh;
  width: 100%;
  background-position: top 10% right -10%;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h2 {
  padding-top: 15px;
  padding-left: 60px;
  font-size: 56px;
  line-height: 80px;
  color: #222;
}

#hero h1 {
  color: #dc143c;
  padding-bottom: 10px;
  padding-left: 60px;
  font-size: 75px;
  line-height: 80px;
}

#hero h4 {
  font-size: 26px;
  padding-bottom: 40px;
  padding-left: 60px;
  color: #222;
}

.distance {
  padding-left: 60px;
}
