<footer>
    <div class="info">
        <div class="col">
            <img src="../../../../assets/images/logo.png" alt="logo" class="logo">
            <h4>Contact</h4>
            <p><strong>Address:</strong> 562 Wellington Rood, Street 32, San Francisco</p>
            <p><strong>Phone to:</strong> 088 888 8888/088 999 9999</p>
            <p><strong>Hours: </strong> 10:00 - 18:00, Monday - Saturday</p>
            <div class="follow">
                <h4>Follow us</h4>
                <div class="icon">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-x-twitter"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-youtube"></i>
                </div>
            </div>
        </div>

        <div class="col">
            <h4>About</h4>
            <a href="#">About us</a>
            <a href="#">Delivery Information</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Contact us</a>
        </div>

        <div class="col">
            <h4>My Account</h4>
            <a href="#">Sign in</a>
            <a href="#">View Cart</a>
            <a href="#">My Wishlist</a>
            <a href="#">Track My Order</a>
            <a href="#">Help</a>
        </div>

        <div class="col install">
            <h4>Install App</h4>
            <p>From App Store or Google Play</p>
            <div class="row">
                <img src="../../../../assets/images/app-store.jpg" alt="Icon of App Store">
                <img src="../../../../assets/images/google-play.jpg" alt="Icon of Google Play">
            </div>
            <p>Secured Payment Gateways</p>
            <img src="../../../../assets/images/pay.png" alt="Secured Payments Image">
        </div>
    </div>

    <div class="copyright">
        <p>&copy; 2024-2025 TimeTrend. All rights reserved.</p>
    </div>
</footer>