@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

h1 {
  font-size: 75px;
  line-height: 80px;
  color: #222;
}

h2 {
  font-size: 56px;
  line-height: 80px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  color: white;
  width: 100%;
}

/* !HEADER CONTENT */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 80px;
  background-color: rgb(220, 20, 60);
  z-index: 99;
  position: sticky;
  top: 0;
  left: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

.navbar li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  transition: 0.3s ease;
}

/* .navbar li a:hover,
.navbar li a.active {
  font-weight: bold;
} */

/* .navbar li a:hover {
  font-weight: bold;
} */

/* .navbar li a.active::after,
.navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #ffffff;
  position: absolute;
  bottom: -4px;
  left: 20px;
} */

.navbar li a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #ffffff; /* Change this to your desired color */
  transition: width 0.3s ease;
}

.navbar li a:hover::after {
  width: 100%;
}

/* !HERO SECTION */
#hero {
  background-image: url("../img/model-main.png");
  background-color: #f4f4f6;
  background-repeat: no-repeat;
  height: 90vh;
  width: 100%;
  /* background-size: cover; */
  background-position: top 10% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h2 {
  padding-top: 15px;
  padding-left: 60px;
}

#hero h1 {
  color: #dc143c;
  padding-bottom: 10px;
  padding-left: 60px;
}

#hero h4 {
  font-size: 26px;
  padding-bottom: 40px;
  padding-left: 60px;
}

#hero button {
  /* background-image: url("../img/1.png");
  background-color: transparent; */
  /* color: #f4f4f6; */
  /* border: 0;
  padding: 14px 80px 14px 65px;  */
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 21px 31px;
  border: none;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s,
    -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  /* background: linear-gradient(
    to right,
    rgb(230, 30, 77) 0%,
    rgb(227, 28, 95) 50%,
    rgb(215, 4, 102) 100%
  ); */
  background: #dc143c;
  color: #fff;
}

#hero button:hover {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 20px 30px;
  border: 1px solid #222222;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s,
    -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  background: #fff;
  color: #222222;
  :hover {
    border-color: #000000;
    background: #f7f7f7;
  }
}

.distance {
  padding-left: 60px;
}

/* !LATEST PRODUCTS SECTION */
.title {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 5rem;
}

.title h2 {
  font-size: 4rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: 500;
  color: #dc143c;
}

.title p {
  font-size: 20px;
}

.product-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 120rem; /* You can adjust this value as needed */
  margin: 0 auto;
  padding: 0 2rem;
}

.product-item {
  position: relative;
  width: calc(20% - 2rem); /* 20% width for each product with some margin */
  margin: 0 1rem; /* Adjust margin as needed */
  margin-bottom: 3rem;
}

.product-thumb img {
  width: 100%;
  height: 31rem;
  object-fit: cover;
  transition: all 500ms linear;
}

.product-info {
  padding: 1rem;
  text-align: center;
}

.product-info span {
  display: inline-block;
  font-size: 1rem;
  text-transform: uppercase;
  color: #666;
  margin-bottom: 0.5rem;
}

.product-info .product-name {
  display: block;
  font-size: 1.6rem;
  font-weight: normal;
  margin-bottom: 0.1rem;
  /* transition: all 300ms linear; */
}

.product-info .price {
  font-size: 1.2rem;
  color: #dc143c;
}

/* .product-info a:hover {
  color: var(--green);
} */

.product-item .icons {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.product-item .icons li {
  list-style: none;
  background-color: #fff;
  text-align: center;
  padding: 1rem 1.5rem;
  font-size: 2.3rem;
  cursor: pointer;
  transition: 200ms ease-in-out;
  transform: translateY(20px);
  visibility: hidden;
  opacity: 0;
}

.product-item .icons li:first-child {
  transition-delay: 0.1s;
}

.product-item .icons li:nth-child(2) {
  transition-delay: 0.2s;
}

.product-item:hover .icons li {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}

/* .product-item .icons li i {
  color: #dc143c;
  background-color: #fff;
} */

.product-item .icons li:not(:last-child) {
  margin-right: 0.5rem;
}

.product-item .icons li:hover,
.product-item .icons li:hover i {
  /* background-color: #dc143c;
  color: #fff; */
}

.product-item .icons li {
  background-color: #fff;
}

.product-item .icons li i {
  color: #dc143c;
}

.product-item .icons li:hover {
  background-color: #dc143c;
  transition-delay: 0.05s;
}

.product-item .icons li:hover i {
  color: #fff;
  transition-delay: 0.05s;
}

.product-item .overlay {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: -1;
  width: 100%;
}

.product-item .overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: 300ms ease;
}

.product-item:hover .overlay::after {
  visibility: visible;
  opacity: 1;
}

.product-item:hover .product-thumb img {
  transform: scale(1.1);
}
