@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

h1 {
  font-size: 75px;
  line-height: 80px;
  color: #222;
}

h2 {
  font-size: 56px;
  line-height: 80px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  color: white;
  width: 100%;
}

/* !HEADER CONTENT */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 80px;
  background-color: rgb(220, 20, 60);
  z-index: 99;
  position: sticky;
  top: 0;
  left: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

.navbar li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  transition: 0.3s ease;
}

/* .navbar li a:hover,
.navbar li a.active {
  font-weight: bold;
} */

/* .navbar li a:hover {
  font-weight: bold;
} */

/* .navbar li a.active::after,
.navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #ffffff;
  position: absolute;
  bottom: -4px;
  left: 20px;
} */

.navbar li a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #ffffff; /* Change this to your desired color */
  transition: width 0.3s ease;
}

.navbar li a:hover::after {
  width: 100%;
}

/* !HERO SECTION */
#hero {
  background-image: url("../img/model-main.png");
  background-color: #f4f4f6;
  background-repeat: no-repeat;
  height: 90vh;
  width: 100%;
  /* background-size: cover; */
  background-position: top 10% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#hero h2 {
  padding-top: 15px;
  padding-left: 60px;
}

#hero h1 {
  color: #dc143c;
  padding-bottom: 10px;
  padding-left: 60px;
}

#hero h4 {
  font-size: 26px;
  padding-bottom: 40px;
  padding-left: 60px;
}

#hero button {
  /* background-image: url("../img/1.png");
  background-color: transparent; */
  /* color: #f4f4f6; */
  /* border: 0;
  padding: 14px 80px 14px 65px;  */
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 21px 31px;
  border: none;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s,
    -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  /* background: linear-gradient(
    to right,
    rgb(230, 30, 77) 0%,
    rgb(227, 28, 95) 50%,
    rgb(215, 4, 102) 100%
  ); */
  background: #dc143c;
  color: #fff;
}

#hero button:hover {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 20px 30px;
  border: 1px solid #222222;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s,
    -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  background: #fff;
  color: #222222;
  :hover {
    border-color: #000000;
    background: #f7f7f7;
  }
}

.distance {
  padding-left: 60px;
}

/* !LATEST PRODUCTS SECTION */
#product1 {
  text-align: center;
}

#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.15);
}

#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}

#product1 .pro .des {
  text-align: start;
  padding: 10px 0;
}

#product1 .pro .des span {
  color: #606063;
  font-size: 12px;
}

#product1 .pro .des h5 {
  /* padding-top: 2px; */
  color: #1a1a1a;
  font-size: 14px;
}

#product1 .rating {
  display: flex;
  flex-direction: row;
}

#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}

#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #088178;
}

#product1 .pro .cart img {
  width: 100%;
}
