<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TimeTrend</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" /> -->
    <link rel="stylesheet" href="./styles/main.css">
</head>

<body>
    <section id="header">
        <a href="#"><img src="./img/logo.png" class="logo" alt="logo" width="80"></a>
        <nav>
            <ul class="navbar">
                <li><a class="active" href="/index.html">Home</a></li>
                <li><a href="/products.html">Shop</a></li>
                <li><a href="/about.html">About</a></li>
                <li><a href="/reviews.html">Reviews</a></li>
                <!-- <li><a href="/account.html"><img src="./img/user-icon.png" alt="user-icon" width="24"></a></li>
                <li><a href="/cart.html"><img src="./img/bag-icon.png" alt="bag-icon" width="24"></a></li> -->
            </ul>
        </nav>
        <ul class="navbar">
            <li><a href="/account.html"><img src="./img/user-icon.png" alt="user-icon" width="24"></a></li>
            <li><a href="/cart.html"><img src="./img/bag-icon.png" alt="bag-icon" width="24"></a></li>
        </ul>
    </section>

    <section id="hero">
        <!-- <h4>Trade in offer</h4>
        <h2>Super value deals</h2>
        <h1>On all products</h1>
        <p>Save more with coupons & up to 70% off!</p>
        <a href="#">Shop Now</a> -->
        <h2>Limited Time Offer!</h2>
        <h1>Enjoy Big Savings Now!</h1>
        <h4>Get exclusive discounts on all products.</h4>
        <div class="distance">
            <button>Shop Now</button>
        </div>
        <!-- <img src="./img/pexels-chloe-1043474-Photoroom.png-Photoroom.png" alt=""> -->
    </section>


    <section class="section new-arrival">
        <div class="title">
            <h2>Latest Products</h2>
            <p>Explore our newest products and stay ahead of the trends.</p>
        </div>

        <div class="product-center">
            <div class="product-item">
                <div class="overlay">
                    <a href="#" class="product-thumb">
                        <img src="./img/t-shirt-model.jpg" alt="product">
                    </a>
                </div>
                <div class="product-info">
                    <span>MEN'S CLOTHES</span>
                    <h4 class="product-name">Nike T-Shirt</h4>
                    <h4 class="price">$1700</h4>
                </div>
                <ul class="icons">
                    <li><i class="fa-solid fa-magnifying-glass"></i></li>
                    <li><i class="fa-solid fa-cart-shopping"></i></li>
                </ul>
            </div>
            <div class="product-item">
                <div class="overlay">
                    <a href="#" class="product-thumb">
                        <img src="./img/t-shirt-model.jpg" alt="product">
                    </a>
                </div>
                <div class="product-info">
                    <span>MEN'S CLOTHES</span>
                    <h4 class="product-name">Nike T-Shirt</h4>
                    <h4 class="price">$1700</h4>
                </div>
                <ul class="icons">
                    <li><i class="fa-solid fa-magnifying-glass"></i></li>
                    <li><i class="fa-solid fa-cart-shopping"></i></li>
                </ul>
            </div>
            <div class="product-item">
                <div class="overlay">
                    <a href="#" class="product-thumb">
                        <img src="./img/t-shirt-model.jpg" alt="product">
                    </a>
                </div>
                <div class="product-info">
                    <span>MEN'S CLOTHES</span>
                    <h4 class="product-name">Nike T-Shirt</h4>
                    <h4 class="price">$1700</h4>
                </div>
                <ul class="icons">
                    <li><i class="fa-solid fa-magnifying-glass"></i></li>
                    <li><i class="fa-solid fa-cart-shopping"></i></li>
                </ul>
            </div>
            <div class="product-item">
                <div class="overlay">
                    <a href="#" class="product-thumb">
                        <img src="./img/t-shirt-model.jpg" alt="product">
                    </a>
                </div>
                <div class="product-info">
                    <span>MEN'S CLOTHES</span>
                    <h4 class="product-name">Nike T-Shirt</h4>
                    <h4 class="price">$1700</h4>
                </div>
                <ul class="icons">
                    <li><i class="fa-solid fa-magnifying-glass"></i></li>
                    <li><i class="fa-solid fa-cart-shopping"></i></li>
                </ul>
            </div>
            <div class="product-item">
                <div class="overlay">
                    <a href="#" class="product-thumb">
                        <img src="./img/t-shirt-model.jpg" alt="product">
                    </a>
                </div>
                <div class="product-info">
                    <span>MEN'S CLOTHES</span>
                    <h4 class="product-name">Nike T-Shirt</h4>
                    <h4 class="price">$1700</h4>
                </div>
                <ul class="icons">
                    <li><i class="fa-solid fa-magnifying-glass"></i></li>
                    <li><i class="fa-solid fa-cart-shopping"></i></li>
                </ul>
            </div>
        </div>
    </section>

</body>

</html>