<header>
    <img src="../../../../assets/images/logo.png" class="logo" alt="logo" width="80">
    <nav>
        <ul class="navbar">
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/products">Shop</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/reviews">Reviews</a></li>
        </ul>
    </nav>
    <nav>
        <ul class="navbar">
            <!-- <li><a routerLink="/order"><i class="fa-solid fa-cart-shopping"></i></a></li> -->
            <li><a routerLink="/account"><i class="fa-solid fa-user"></i></a></li>
        </ul>
    </nav>
</header>