header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 80px;
  background-color: rgb(220, 20, 60);
  z-index: 99;
  position: sticky;
  top: 0;
  left: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

.navbar li a i {
  font-size: 24px;
}

.navbar li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  transition: 0.3s ease;
}

/* .navbar li a:hover,
.navbar li a.active {
  font-weight: bold;
} */

/* .navbar li a:hover {
  font-weight: bold;
} */

/* .navbar li a.active::after,
.navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #ffffff;
  position: absolute;
  bottom: -4px;
  left: 20px;
} */

.navbar li a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #ffffff; /* Change this to your desired color */
  transition: width 0.3s ease;
}

.navbar li a:hover::after {
  width: 100%;
}
