<header>
    <a href="#"><img src="../../../../assets/images/logo.png" class="logo" alt="logo" width="80"></a>
    <nav>
        <ul class="navbar">
            <li><a class="active" href="#">Home</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Reviews</a></li>
        </ul>
    </nav>
    <ul class="navbar">
        <li><a href="#"><i class="fa-solid fa-user"></i></a></li>
        <li><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
    </ul>
</header>