.section-p1 {
  padding: 40px 80px;
}

#product-details .product-image {
  width: 40%;
  margin-right: 40px;
}

#product-details img {
  height: 60vh;
}

#product-details {
  display: flex;
  margin-top: 20px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

#product-details .details {
  width: 40%;
}

#product-details .price {
  line-height: 80px;
  color: #222;
  font-size: 24px;
}

#product-details .name {
  color: #222;
  font-size: 32px;
}

#product-details .category {
  color: #222;
  font-weight: 700;
  font-size: 20px;
  color: #dc143c;
}

#product-details .sizes {
  display: block;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 18px;
  width: 200px;
}

#product-details .quantity {
  width: 80px;
  height: 47px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  margin-right: 10px;
}

#product-details .cart {
  color: #fff;
  background-color: #dc143c;
  border: 2px solid #dc143c;
  font-size: 16px;
  padding: 10px;
  border-radius: 4px;
  min-width: 150px;
  transition: 0.2s ease;
}

#product-details .cart:hover {
  cursor: pointer;
  color: #dc143c;
  background-color: #fff;
}

#product-details .details-title {
  color: #222;

  padding-top: 10px;
  font-size: 22px;
}

#product-details .description {
  color: #222;

  margin: 15px 0 20px 0;
  font-size: 18px;
}

.center {
  text-align: center;
}

.sizes-title {
  font-size: 22px;
  color: #dc143c;
}

.sizes {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  text-align: center;
  width: 100%;
}

.sizes p {
  /* margin: 0 5px; */
  margin-bottom: 2px;
  width: 100px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: 0.2s ease;
}

.sizes p:hover {
  border: 1px solid #dc143c;
  color: #dc143c;
  cursor: pointer;
}
